body,
main {
  height: 100vh;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #445;
  display: flex;
  justify-content: center;
  overscroll-behavior-y: contain;
}

#mainCanvas {
  max-width: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
}
